body, html {
    height: 100%;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 5rem;
}

.corgi {
    background-image: url("corgi.png");
    height: 100%;

    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.rounded-circle {
    height: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.d-inline {
    margin: 1rem;
}

.icons {
    padding-top: 1rem;
}